<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/chart.css">
<link rel="stylesheet" href="css/small.css" media="(max-width: 1260px)">
<style>
	.color_up {
		color: #E44F47;
	}
	.color_down {
		color: #3BBA97;
	}
</style>
<style>
#floatlayer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 45px 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    transition: all 1s ease;
}
#loading {
    display: none;
    position: absolute;
    top: 49%;
    left: 49%;
    animation-fill-mode: both;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ffffff;
    animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.loading {
    display: none;
    position: absolute;
    top: 49%;
    left: 49%;
    animation-fill-mode: both;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ffffff;
    animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

@keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

</style>
<script>
    var community_code = Number(window.location.search.slice(1).split('=')[1]);
</script>
</head>
<body>
    <div id="floatlayer">
        <div id="the-basics">
            <input class="typeahead" type="text" placeholder="Input Community Name">
        </div>
        <div class="loading"></div>
    </div>
	<header>
        <div id="title">
		  <h1>Hommy</h1>
          <!-- <div id="subtitle">小区详情</div> -->
          <div id="subtitle">Beijing Overview</div>
        </div>
        <!--  <div id="navigation"> -->
        </div>
        <div id="search">
            <input type="text" class="main_search">
            <i name="search"></i>
            <i name="reset"></i>
            <div id="search_result">
                <ul>
                    <li><span class="search_result_1">华润威海湾九里</span><span class="search_result_2">000080</span></li><li><span class="search_result_1">华润威海湾九里</span><span class="search_result_2">000080</span></li><li><span class="search_result_1">华润威海湾九里</span><span class="search_result_2">000080</span></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
	</header>
    <section id="main">
    	<section id="section_main">
            <div id="chart_tools">
                <div class="chart_tools_chart_type chart_tools_chart_type_month chart_tools_chart_type_now">Month</div>
                <div class="chart_tools_chart_type chart_tools_chart_type_week">Week</div>
            </div>
            <div id="main_chart">
                <div id="loading"></div>
            </div>
            <div id="legend">
                <div class="ememem"></div>
                <div class="legend_item">
                    <span class="legend_item_block ma_block"></span>
                    <span class="legend_item_type ma">MA10</span>
                </div>
                <div class="legend_item">
                    <span class="legend_item_block ma1_block"></span>
                    <span class="legend_item_type ma1">MA20</span>
                </div>
                <div class="legend_item">
                    <span class="legend_item_block ema_block"></span>
                    <span class="legend_item_type ema">MA50</span>
                </div>
                <div class="legend_item">
                    <span class="legend_item_block volume_block"></span>
                    <span class="legend_item_type volume">VOLUME</span>
                </div>
                <div class="legend_item">
                    <span class="legend_item_block macd_block"></span>
                    <span class="legend_item_type macd">DIFF</span>
                </div>
                <div class="legend_item">
                    <span class="legend_item_block macd1_block"></span>
                    <span class="legend_item_type macd1">DEA</span>
                </div>
            </div>
    	</section>

        <div id="message">
        	<aside>
        		<div>
        			<h2 name="name">望海风情海岸</h2>
        			<span class="message_code" name="code">000073</span>
        		</div>
        		<div class="message_price">
                    <span class="message_price_1" name="now_price">8800.73</span>
                    <!-- <span class="priceup_arrow"></span> -->
        			<span name="arrow"></span>
        			<span class="message_price_2" name="now_rate">+ 13.31%</span>
        			<span class="message_price_1"></span>
        		</div>
        		<div id="message_main">
                    <span class="message_main_1" name="district_name">环翠区</span>
        			<span class="message_main_1" name="bizcircle_name">幸福门</span>
        			<span class="message_main_1" name="build_year">2012年</span>
        			<!-- <span class="message_main_1">6600户</span> -->
        		</div>
        		<div class="message_chengjiao">
        			<table id="message_chengjiao_set">
        				<thead>
        					<tr class="message_chengjiao_card">
        						<th class="message_chengjiao_card_1" width="25%">均价</th>
        						<th class="message_chengjiao_card_2" width="20%">面积</th>
        						<th class="message_chengjiao_card_2" width="20%">总价</th>
        						<th class="message_chengjiao_card_2">成交时间</th>
        					</tr>
        				</thead>
        				<tbody id="message_chengjiao_set_cardset">
        					<tr class="message_chengjiao_card">
        						<td class="message_chengjiao_card_1 color_down" width="25%">8600.00元</td>
        						<td class="message_chengjiao_card_2" width="20%">140m<sup>2</sup></td>
        						<td class="message_chengjiao_card_2" width="20%">124.6万</td>
        						<td class="message_chengjiao_card_2">2013-03-01</td>
        					</tr>
        					<tr class="message_chengjiao_card">
        						<td class="message_chengjiao_card_1 color_up" width="25%">8900.80元</td>
        						<td class="message_chengjiao_card_2" width="20%">140m<sup>2</sup></td>
        						<td class="message_chengjiao_card_2" width="20%">124.6万</td>
        						<td class="message_chengjiao_card_2">2013-03-01</td>
        					</tr>
        					<tr class="message_chengjiao_card">
        						<td class="message_chengjiao_card_1 color_up" width="25%">7900.80元</td>
        						<td class="message_chengjiao_card_2" width="20%">140m<sup>2</sup></td>
        						<td class="message_chengjiao_card_2" width="20%">124.6万</td>
        						<td class="message_chengjiao_card_2">2013-03-01</td>
        					</tr>
        					<tr class="message_chengjiao_card">
                                <td class="message_chengjiao_card_1 color_down" width="25%">7600.80元</td>
                                <td class="message_chengjiao_card_2" width="20%">140m<sup>2</sup></td>
                                <td class="message_chengjiao_card_2" width="20%">124.6万</td>
                                <td class="message_chengjiao_card_2">2013-03-01</td>
                            </tr>
                            <tr class="message_chengjiao_card">
        						<td class="message_chengjiao_card_1 color_down" width="25%">7600.80元</td>
        						<td class="message_chengjiao_card_2" width="20%">140m<sup>2</sup></td>
        						<td class="message_chengjiao_card_2" width="20%">124.6万</td>
        						<td class="message_chengjiao_card_2">2013-03-01</td>
        					</tr>
        				</tbody>
        			</table>
        		</div>
        	</aside>
        </div>
     </section>
        <script src="js/jquery-1.11.3.js"></script>
        <script src="js/d3.v4.min.js"></script>
        <script src="js/techan.min.js"></script>

        <script src="js/index.js"></script>
        <script>
            $(document).ready(loadPage);
            
            function loadPage(){
                console.log(community_code);
                $.ajax({
                    url: '/community',
                    data: {
                        code: community_code,
                        limit: 12
                    },
                    dataType: 'json',
                    success: function (data) {
                        for(var i in data) {
                            if (i == 'recent_deals') {
                                var str = '';
                                $('[name=now_price]').html(data.recent_deals[0].unit_price);

                                if (data.recent_deals.length >= 2) {
                                    var last1 = data.recent_deals[0].unit_price,
                                        last2 = data.recent_deals[1].unit_price,
                                        rate = (last1 - last2) / last2;
                                        rate = (rate*100).toFixed(2) + '%';
                                    if (last1 > last2) {
                                        $('[name=now_price]').addClass('color_up').removeClass('color_down');
                                        $('[name=now_rate]').addClass('color_up').removeClass('color_down').html('+ ' + rate);
                                        $('[name=arrow]').attr('class', 'priceup_arrow');
                                    }
                                    else {
                                        $('[name=now_price]').addClass('color_down').removeClass('color_up');
                                        $('[name=now_rate]').addClass('color_down').removeClass('color_up').html(rate);
                                        $('[name=arrow]').attr('class', 'pricedown_arrow');
                                    }
                                }
                                for(var j = 0; j < data.recent_deals.length - 1; j++) {
                                    let color_class = '';
                                    if (data.recent_deals[j].unit_price < data.recent_deals[j+1].unit_price) {
                                        color_class = 'color_down';
                                    }
                                    else {
                                        color_class = 'color_up';
                                    }

                                    let tr = `<tr class="message_chengjiao_card">
                                        <td class="message_chengjiao_card_1 ${ color_class }" width="25%">${ data.recent_deals[j].unit_price }元</td>
                                        <td class="message_chengjiao_card_2" width="20%">${ data.recent_deals[j].area }m<sup>2</sup></td>
                                        <td class="message_chengjiao_card_2" width="20%">${ (data.recent_deals[j].price / 10000).toFixed(1) }万</td>
                                        <td class="message_chengjiao_card_2">${ data.recent_deals[j].deal_time }</td>
                                    </tr>`;
                                    str += tr;
                                }
                                $('#message_chengjiao_set_cardset').html(str);
                            }
                            $('#message').find('[name='+ i +']').text(unescape(data[i]));
                        }


                    }
                });
            }
        </script>

<script src="js/typeahead.js"></script>
<script src="js/hb.js"></script>
<script src="js/search.js"></script>
<script>



</script>
<script src="js/chart.js"></script>
    </body>
</html>
